html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: blue;
}
#root {
  height: 100%;
  width: 100%;
  background: yellow;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#drum-machine {
  width: 60vw;
  background: grey;
  display: flex;
  flex-direction: row;
}
#pads {
  background: red;  
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1vw;
  padding: 2vw;
}
.drum-pad {
  background: rgb(178, 179, 185);
  color: rgb(48, 44, 44);
  border-radius: 10%;
  padding: 2vw;
  text-align: center;
}
.drum-pad:active {
  background: yellowgreen;
}
#buttons {
  background: blue;
  width: 50%;
  padding: 2vw;
}